/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@use 'index';
@use 'product-details';

$button-text-color: #FFFFFF;
$button-color: #4A4FF2;

.contact-page {

    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 300px;
    -webkit-column-gap: 200px;
    -moz-column-gap: 200px;
    column-gap: 200px;
    padding-top: 100px;
}

.contact-page>*:nth-child(1) {

    -ms-grid-row: 1;

    -ms-grid-column: 1;
}

.contact-page>*:nth-child(2) {

    -ms-grid-row: 1;

    -ms-grid-column: 3;
}

.contact-page>*:nth-child(3) {

    -ms-grid-row: 2;

    -ms-grid-column: 1;
}

.contact-page>*:nth-child(4) {

    -ms-grid-row: 2;

    -ms-grid-column: 3;
}

.contact-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    font-family: index.$primary-font;
    font-style: bold;
    font-weight: 700;
    font-size: 30px;
    line-height: 75px;
    /* or 138% */
    color: index.$primary-color;
    text-align: left;
    vertical-align: text-top;
    border-style: hidden;
    outline: none;
    width: 630px;
}

.contact-text {
    font-family: index.$primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: left;
    vertical-align: text-top;
    border-style: hidden;
    outline: none;
    width: 400px;
}

.contact-form {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: left;
    vertical-align: text-top;
    border-style: hidden;
    outline: none;
    padding-top: 50px;
}

.my-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.contact-map {
    margin-top: 200px;
    width: 100%;
    height: 570px;

}

.label {
    /* Name */
    font-family: index.$primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: index.$primary-color;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 30px;
}

.form-elements {
    border: none;
    border-bottom: product-details.$product-border 1px solid;
    margin-bottom: 30px;
}

.btn-submit {
    /* Button */
    color: $button-text-color;
    background-color: $button-color;
    width: 125px;
    height: 50px;
    border: none;
}