@charset "UTF-8";
body {
  margin: 60px 120px;
}

.nav-bar {
  position: relative;
}

.logo {
  float: left;
}

.right {
  float: right;
}

.nav-links {
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: -0.346154px;
  color: #111111;
  text-decoration: none;
  margin-left: 30px;
  bottom: 100px;
}

.home-title {
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.title-left {
  width: 55%;
}

.blue-title {
  /* Shooting Stars */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: -0.423077px;
  color: #4A4FF2;
}

.blue-text {
  color: #4A4FF2;
}

.title-text {
  /* Hello, I’m Bakhtiyar */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
  color: #111111;
}

.title-right {
  width: 45%;
  align-items: center;
  justify-content: flex-end;
}

.aside-border {
  width: 30px;
  mix-blend-mode: normal;
  opacity: 0.6;
  border: solid 2px black;
  margin-left: 200px;
}

.aside-text {
  /* Design is about prog */
  font-family: "Mulish", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-left: 200px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-grid-container {
  display: grid;
  grid-template-rows: repeat(32, 1fr);
  grid-template-columns: repeat(9, 1fr);
  box-sizing: border-box;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.gallery-grid-item-1 {
  overflow: hidden;
  grid-row: 1/span 8;
  grid-column: 1/span 3;
}

.gallery-grid-item-4 {
  overflow: hidden;
  grid-row: 8/span 8;
  grid-column: 1/span 3;
}

.gallery-grid-item-7 {
  overflow: hidden;
  grid-row: 16/span 8;
  grid-column: 1/span 3;
}

.gallery-grid-item-10 {
  overflow: hidden;
  grid-row: 24/span 9;
  grid-column: 1/span 3;
}

.gallery-grid-item-2 {
  overflow: hidden;
  grid-row: 1/span 6;
  grid-column: 4/span 3;
}

.gallery-grid-item-5 {
  overflow: hidden;
  grid-row: 7/span 7;
  grid-column: 4/span 3;
}

.gallery-grid-item-8 {
  overflow: hidden;
  grid-row: 14/span 9;
  grid-column: 4/span 3;
}

.gallery-grid-item-11 {
  overflow: hidden;
  grid-row: 23/span 10;
  grid-column: 4/span 3;
}

.gallery-grid-item-3 {
  overflow: hidden;
  grid-row: 1/span 10;
  grid-column: 7/span 3;
}

.gallery-grid-item-6 {
  overflow: hidden;
  grid-row: 11/span 7;
  grid-column: 7/span 3;
}

.gallery-grid-item-9 {
  overflow: hidden;
  grid-row: 18/span 9;
  grid-column: 7/span 3;
}

.gallery-grid-item-12 {
  overflow: hidden;
  grid-row: 27/span 6;
  grid-column: 7/span 3;
}

.home-services {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  height: 150px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.services-text {
  grid-row: 1/span 2;
  /* Text */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  /* or 136% */
  color: #111111;
  justify-self: start;
  align-self: start;
}

.services-list-one {
  /* Service */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  justify-self: center;
}

.awards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.awards-border {
  /* Divider Copy */
  border-top: #D8D8D8 2px solid;
}

.awards-border-bottom {
  /* Divider Copy */
  border-bottom: #D8D8D8 2px solid;
}

.awards-column-one {
  /* Awwwards */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  color: #111111;
  flex-basis: 35%;
}

.awards-column-two {
  /* Site of the day */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  flex-basis: 20%;
  color: #111111;
}

.awards-column-three-title {
  /* Genesis UI Kit */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #111111;
}

.awards-column-three-text {
  /* Application that hel */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.awards-column-four {
  /* 2018 */
  flex-basis: 10%;
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: right;
  color: #111111;
}

.awards-column-three {
  width: 15.5%;
}

.footer {
  margin-top: 100px;
}

.social {
  margin-left: 100px;
}

.product {
  margin-top: 250px;
  margin-bottom: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.product-title {
  /* A fresh new title can make all the difference */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 75px;
  /* or 138% */
  width: 85%;
  text-align: left;
  border-style: hidden;
  outline: none;
  display: flex;
  color: #111111;
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: left;
  vertical-align: text-top;
  align-self: flex-start;
}

.product-text {
  /* There are many varia */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #111111;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 635px;
  text-align: left;
  vertical-align: text-top;
  border-style: hidden;
  outline: none;
}

.product-info {
  grid-row: 1/3;
  grid-column: 2/3;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.name {
  /* Project */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: #979797 1px solid;
}

.detail {
  /* Genesis Portfolio */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  border-bottom: #979797 1px solid;
  color: #111111;
  text-align: left;
  vertical-align: text-top;
  bottom: 500px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.product-info-left {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.product-single-image {
  width: 100%;
  height: 660px;
}

.justify {
  text-align: left;
  vertical-align: text-top;
  border-style: hidden;
  outline: none;
  width: 1109px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 100%;
}

.product-image-trio {
  width: 350px;
  height: 400px;
}

.contact-page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 300px;
  column-gap: 200px;
  padding-top: 100px;
}

.contact-title {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: "Mulish", serif;
  font-style: bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 75px;
  /* or 138% */
  color: #111111;
  text-align: left;
  vertical-align: text-top;
  border-style: hidden;
  outline: none;
  width: 630px;
}

.contact-text {
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: left;
  vertical-align: text-top;
  border-style: hidden;
  outline: none;
  width: 400px;
}

.contact-form {
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: left;
  vertical-align: text-top;
  border-style: hidden;
  outline: none;
  padding-top: 50px;
}

.my-form {
  display: flex;
  flex-direction: column;
}

.contact-map {
  margin-top: 200px;
  width: 100%;
  height: 570px;
}

.label {
  /* Name */
  font-family: "Mulish", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 30px;
}

.form-elements {
  border: none;
  border-bottom: #979797 1px solid;
  margin-bottom: 30px;
}

.btn-submit {
  /* Button */
  color: #FFFFFF;
  background-color: #4A4FF2;
  width: 125px;
  height: 50px;
  border: none;
}

/*# sourceMappingURL=contact.css.map */
