$primary-font:"Mulish",serif;
$primary-color: #111111;
$secondary-color: #4A4FF2;

body{
    margin: 60px 120px;
}
.nav-bar{
    position: relative;
}
.logo{
    float: left;
}

.right{
    float: right;
}
.nav-links{
        font-family: $primary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */
        letter-spacing: -0.346154px;
        color: $primary-color;
}

.home-title{
    position: relative;
    top: 180px;
}
.blue-title{
    /* Shooting Stars */
        font-family: $primary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        /* identical to box height */
        letter-spacing: -0.423077px;

        color: $secondary-color;
}
.title-text{
    /* Hello, I’m Bakhtiyar */
        font-family: $primary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        /* or 150% */

        color: $primary-color;
}

.aside-text{
/* Design is about prog */

    font-family: $primary-font;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: $primary-color;

    mix-blend-mode: normal;
    opacity: 0.6;
}

.gallery-grid-container{
     display: grid;
     grid-template-rows:repeat(32, 1fr);
     grid-template-columns: repeat(9,1fr);
     row-gap:10px;
     column-gap: -100px;
     width: 100%;
     height: 100%;
}
.gallery-grid-item-1{
    overflow: hidden;
    grid-row: 1/span 8;
    grid-column:1/span 3;
}
.gallery-grid-item-4{
    overflow: hidden;
    grid-row: 8/span 8;
    grid-column:1/span 3;
}
.gallery-grid-item-7{
    overflow: hidden;
    grid-row: 16/span 8;
    grid-column:1/span 3;
}
.gallery-grid-item-10{
    overflow: hidden;
    grid-row: 24/span 9;
    grid-column:1/span 3;
}
.gallery-grid-item-2{
    overflow: hidden;
    grid-row: 1/span 6;
    grid-column:4/span 3;
}
.gallery-grid-item-5{
    overflow: hidden;
    grid-row: 7/span 7;
    grid-column:4/span 3;
}
.gallery-grid-item-8{
    overflow: hidden;
    grid-row: 14/span 9;
    grid-column:4/span 3;
}
.gallery-grid-item-11{
    overflow: hidden;
    grid-row: 23/span 10;
    grid-column:4/span 3;
}
.gallery-grid-item-3{
    overflow: hidden;
    grid-row: 1/span 10;
    grid-column:7/span 3;
}
.gallery-grid-item-6{
    overflow: hidden;
    grid-row: 11/span 7;
    grid-column:7/span 3;
}
.gallery-grid-item-9{
    overflow: hidden;
    grid-row: 18/span 9;
    grid-column:7/span 3;
}
.gallery-grid-item-12{
    overflow: hidden;
    grid-row: 27/span 6;
    grid-column:7/span 3;
}